/**
 * Set up here the general appearance of the theme.
 */
$font-family-main: 'Cafe24Anemone', Helvetica, Arial, sans-serif;
$font-family-headings: 'Cafe24Anemone', Helvetica, Arial, sans-serif;
$font-family-logo: 'Cafe24Anemone', Helvetica, Arial, sans-serif;
$font-size: 1.25em;

$monospace: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif !default;
$cafe24: "Cafe24Anemone" !default;
$font-size-code: 0.85em !default;
$font-height-code: 1.3em !default;
$border-radius: 4px !default;



$themeColor: map-get($theme, themeColor) !default;
$primaryDark: map-get($theme, primaryDark) !default;
$accentDark: map-get($theme, accentDark) !default;
$lightGray: map-get($theme, lightGray) !default;
$texts: map-get($theme, texts) !default;

// Breakpoints
$breakpoints: (
  sm: 37.5rem
);

// Margins
$rowMargin: 10px;
$itemMargin: 15px;

// Sizes
$itemMinWidth: 300px;

// Settings
$maxItemsPerRow: 6;

